if error === 404
	p Anime not found.
else if !user && anime && anime.adult
	p Please log in to view adult content.
else if anime
	section.anime-container(data-id=anime.id)
		header.anime-header
			if anime.image
				.anime-image-container
					img.anime-image(src=anime.image, alt=anime.name)
			
			.info-column
				h2.anime-title-db(title=anime.type)= anime.title[user ? user.titleLanguage : 'romaji']

				if user && user.titleLanguage === 'japanese'
					p.second-title-container
						span.second-title(title=anime.title.english !== anime.title.romaji ? anime.title.english : null)= anime.title.romaji
				else
					if anime.title.japanese !== anime.title.romaji
						p.second-title-container
							a.second-title(href='http://jisho.org/search/' + anime.title.japanese, target='_blank', title='Look up reading on jisho.org', rel='nofollow')= anime.title.japanese

				if anime.description
					//- h3.anime-header.anime-summary-header Summary
					p.anime-summary= anime.description

		if anime.youtubeId
			h3.anime-header Video
			.anime-trailer.video-container
				iframe.video(src='https://www.youtube.com/embed/' + anime.youtubeId + '?showinfo=0' + videoParameters, frameborder='0', allowfullscreen)

		if anime.tracks && anime.tracks.opening
			h3.anime-header Tracks
			iframe(width='100%', height='150', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=' + anime.tracks.opening.uri + '?auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&visual=true')

		if user && friendsWatching && friendsWatching.length > 0
			include ../messages/avatar.pug
			
			h3.anime-header Watching
			.user-list
				each watcher in friendsWatching
					+avatar(watcher)

		if anime.genres && Array.isArray(anime.genres) && anime.genres.length > 0
			h3.anime-header Genres
			.light-button-group
					each genre in anime.genres
						a.light-button.ajax(href='/anime/genres/' + fixGenre(genre))
							if genreIcons[genre]
								i(class='fa fa-' + genreIcons[genre] + ' fa-fw')
							span= genre
		
		if anime.studios && anime.studios.length > 0
			h3.anime-header Studios
			.light-button-group
				each studio in anime.studios
					a.light-button(href=studio.url, target='_blank')
						i.fa.fa-building.fa-fw
						span= studio.name

		//-if crunchy
		//-	h3.anime-header Episodes

		if canEdit
			#staff-info
				h3.anime-header Links
				table
					tbody
						tr
							td MyAnimeList
							td
								input.save-on-change(id='MyAnimeList', type='text', value=providers.MyAnimeList ? providers.MyAnimeList.providerId : '', disabled=(providers.MyAnimeList && providers.MyAnimeList.similarity === 1) ? true : false)
							td
								a(href='https://www.google.co.jp/search?q=site:myanimelist.net/anime+' + anime.title.romaji.replace(/ /g, '+'), target='_blank')
									.fa.fa-search
							td
						tr
							td HummingBird
							td
								input.save-on-change(id='HummingBird', type='text', value=providers.HummingBird ? providers.HummingBird.providerId : '', disabled=(providers.HummingBird && providers.HummingBird.similarity === 1) ? true : false)
							td
								a(href='https://www.google.co.jp/search?q=site:hummingbird.me/anime+' + anime.title.romaji.replace(/ /g, '+'), target='_blank')
									.fa.fa-search
							td
						tr
							td AnimePlanet
							td
								input.save-on-change(id='AnimePlanet', type='text', value=providers.AnimePlanet ? providers.AnimePlanet.providerId : '', disabled=(providers.AnimePlanet && providers.AnimePlanet.similarity === 1) ? true : false)
							td
								a(href='https://www.google.co.jp/search?q=site:anime-planet.com/anime+' + anime.title.english.replace(/ /g, '+'), target='_blank')
									.fa.fa-search
							td

						- var title = providers.Nyaa ? providers.Nyaa.title : ''
						- var proposedTitle = nyaa.buildNyaaTitle(anime.title.romaji)
						tr
							td Nyaa
							td
								input.save-on-change(id='Nyaa', type='text', value=title, placeholder=proposedTitle)
							td
								a(href='https://www.nyaa.se/?page=search&cats=1_37&filter=0&sort=2&term=' + (title ? title.replace(/ /g, '+') : proposedTitle), target='_blank')
									.fa.fa-search
							td
								if providers.Nyaa && providers.Nyaa.episodes !== undefined
									span(class=providers.Nyaa.episodes === 0 ? 'entry-error' : 'entry-ok')= providers.Nyaa.episodes + ' eps'

		h3.anime-header Links
		.light-button-group
			if anime.links
				each link in anime.links
					a.light-button(href=link.url, target='_blank')= link.title
			
			if !anime.createdBy
				a.light-button(href='https://anilist.co/anime/' + anime.id, target='_blank') AniList

			if providers.HummingBird
				a.light-button(href='https://hummingbird.me/anime/' + providers.HummingBird.providerId, target='_blank') HummingBird

			if providers.MyAnimeList
				a.light-button(href='http://myanimelist.net/anime/' + providers.MyAnimeList.providerId, target='_blank') MyAnimeList

			if providers.AnimePlanet
				a.light-button(href='http://www.anime-planet.com/anime/' + providers.AnimePlanet.providerId, target='_blank') AnimePlanet

		.sources
			p Powered by Anilist.
				if descriptionSource
					span= ' Summary by ' + summarySource + '.'
		//-
			h3.anime-header Synonyms
			if anime.title.synonyms
				ul.anime-synonyms
					li.anime-japanese-title= anime.title.japanese
					each synonym in anime.title.synonyms
						li= synonym
else
	section.anime-frontpage
		header
			h2 Anime
		
		#search-container
			input#search(type='text', placeholder='Search...', onkeyup='$.searchAnime();', onfocus='this.select();', disabled, data-count=titleCount, data-anime-count=animeCount)
		
		#search-results-container
			#search-results

		if popularAnime
			h3 Popular
			.popular-anime-list
				each anime in popularAnime
					a.popular-anime.ajax(href='/anime/' + anime.id, title=anime.title[user ? user.titleLanguage : 'romaji'] + ' (' + anime.watching + (anime.watching === 1 ? ' user' : ' users') + ' watching)')
						img.anime-image.popular-anime-image(src=anime.image, alt=anime.title.romaji)