if anime
	section.anime-container(data-id=anime.id)
	
		header
			h2.anime-db-title(title=anime.type)= anime.title.romaji
		
			if anime.title.japanese !== anime.title.romaji
				p.anime-japanese-title-container
					a.anime-japanese-title(href='http://jisho.org/search/' + anime.title.japanese, target='_blank', title='Look up reading on jisho.org', rel='nofollow')= anime.title.japanese
		
		if anime.image
			.anime-db-image-container
				img.anime-db-image(src=anime.image, alt=anime.name)
		
		h3.anime-header Links
		ul.anime-websites
			li: a.anime-website-link(href='https://anilist.co/anime/' + anime.id, target='_blank') anilist.co
			
			if providers.HummingBird
				li: a.anime-website-link(href='https://hummingbird.me/anime/' + providers.HummingBird.providerId, target='_blank') hummingbird.me
					
			if providers.MyAnimeList
				li: a.anime-website-link(href='http://myanimelist.net/anime/' + providers.MyAnimeList.providerId, target='_blank') myanimelist.net
					
			if providers.AnimePlanet
				li: a.anime-website-link(href='http://www.anime-planet.com/anime/' + providers.AnimePlanet.providerId, target='_blank') anime-planet.com
				
			if user && providers.Nyaa
				li: a.anime-website-link(href='http://www.nyaa.se/?page=search&cats=1_37&filter=0&sort=2&term=' + providers.Nyaa.title.replace(/ /g, '+'), target='_blank') nyaa.se
		
		if usersWatching
			h3.anime-header Currently watching 
				span.users-count= `(${usersWatching.length})`
			p.users
				each user in usersWatching
					.user
						a.ajax(href='/+' + user.nick, title=user.nick)
							img.user-image(src='/images/elements/no-gravatar.png', alt=user.nick, data-image=user.gravatarURL)
		
		if canEdit
			h3.anime-header Links
			table
				tbody
					tr
						td MyAnimeList
						td
							input.save-on-change(id='MyAnimeList', type='text', value=providers.MyAnimeList ? providers.MyAnimeList.providerId : '', disabled=(providers.MyAnimeList && providers.MyAnimeList.similarity === 1) ? true : false)
						td
							a(href='https://www.google.co.jp/search?q=site:myanimelist.net/anime+' + anime.title.romaji.replace(/ /g, '+'), target='_blank')
								.glyphicon.glyphicon-search
						td
					tr
						td HummingBird
						td
							input.save-on-change(id='HummingBird', type='text', value=providers.HummingBird ? providers.HummingBird.providerId : '', disabled=(providers.HummingBird && providers.HummingBird.similarity === 1) ? true : false)
						td
							a(href='https://www.google.co.jp/search?q=site:hummingbird.me/anime+' + anime.title.romaji.replace(/ /g, '+'), target='_blank')
								.glyphicon.glyphicon-search
						td
					tr
						td AnimePlanet
						td
							input.save-on-change(id='AnimePlanet', type='text', value=providers.AnimePlanet ? providers.AnimePlanet.providerId : '', disabled=(providers.AnimePlanet && providers.AnimePlanet.similarity === 1) ? true : false)
						td
							a(href='https://www.google.co.jp/search?q=site:anime-planet.com/anime+' + anime.title.english.replace(/ /g, '+'), target='_blank')
								.glyphicon.glyphicon-search
						td
					
					if user.role === 'admin'
						- var title = providers.Nyaa ? providers.Nyaa.title : ''
						- var proposedTitle = nyaa.buildNyaaTitle(anime.title.romaji)
						tr
							td Nyaa
							td
								input.save-on-change(id='Nyaa', type='text', value=title, placeholder=proposedTitle)
							td
								a(href='http://www.nyaa.se/?page=search&cats=1_37&filter=0&sort=2&term=' + (title ? title.replace(/ /g, '+') : proposedTitle), target='_blank')
									.glyphicon.glyphicon-search
							td
								if providers.Nyaa && providers.Nyaa.episodes !== undefined
									span(class=providers.Nyaa.episodes === 0 ? 'entry-error' : 'entry-ok')= providers.Nyaa.episodes + ' eps'
		//-
			h3.anime-header Summary
			if anime.summary
				p.anime-summary!= anime.summary
			else
				p.anime-summary -
			
			h3.anime-header Links
			if anime.websites
				ul.anime-websites
					each website in anime.websites
						if website.title && website.url
							li
								a(href=website.url, target='_blank', rel='nofollow')= website.title
			else
				p.anime-websites -
		
			h3.anime-header Synonyms
			if anime.title.synonyms
				ul.anime-synonyms
					li.anime-japanese-title= anime.title.japanese
					each synonym in anime.title.synonyms
						li= synonym
			else
				ul.anime-synonyms
					li
					
					h3.anime-header Links
					if anime.websites
						ul.anime-websites
							each website in anime.websites
								if website.title && website.url
									li
										a(href=website.url, target='_blank', rel='nofollow')= website.title
	//p.powered-by Data by 
	//	a(href='http://anilist.co/', target='_blank', rel='nofollow') anilist.co
else
	section
		header
			h2 Anime
		
		input#search(type='text', placeholder='Search...', onkeyup='window.searchAnime();', onfocus='this.select();', disabled, data-count=animeToIdCount)
		
		#search-results
		
		if popularAnime
			h3 Popular
			p
				each anime in popularAnime
					a.popular-anime.ajax(href='/anime/' + anime.id, title=anime.title.romaji + ' (' + anime.watching + (anime.watching === 1 ? ' user' : ' users') + ' watching)')
						img.anime-db-image.popular-anime-image(src=anime.image, alt=anime.title.romaji)