doctype html
html(lang="en")
    head
        title= siteName
        
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        style!= css
    
    body
        #container
            #header-container
                #header
                    #title
                        h1= siteName
                    
                    nav#navigation
                        header
                            h2 Navigation
                        
                        each nav in pages
                            if nav.visible
                                a.navigation-link.ajax(href="/#{nav.url}")
                                    .navigation-button= nav.title
            
            #content-container
                section#content!= content
            
            #loading-animation.spinner
                .cube1
                .cube2
            
        script!= js