mixin avatar(user)
	a.user.ajax(href='/+' + user.nick, title=user.nick)
		if user.avatar
			img.user-image(src=user.avatar + '?s=50&r=x&d=mm', alt=user.nick)
		else
			svg.user-image(width='50', height='50')
				circle.head(cx='25', cy='19', r='10', fill=app.toRGB(user.id))
				circle.body(cx='25', cy='50', r='20')
				text(x='25', y='44', text-anchor='middle')= user.nick.split('').filter(char => char === char.toUpperCase()).join('').substring(0, 3)