doctype html
html
	head
		title= siteName
		style!= css
		link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/hajchfikckiofgilinkpifobdbiajfch")

	body
		#container
			#header-container
				#header
					#title-and-tagline
						#title
							a(href="/")
								h1= siteName
					#tagline Don't miss the next episode. Get notified instantly.
					
					nav#navigation
						each link in nav
							a.navigation-link.ajax(href="/#{link.url}")
								.navigation-button= link.title
		
			#content-container
				#content.fade!= content
			
			#footer-container
				footer#footer
					#copyright &copy; 2015 Eduard Urbach
		
			#loading-animation
			
		script!= js