doctype html
html
	head
		title= siteName
		style!= css
		link(rel="chrome-webstore-item", href="https://chrome.google.com/webstore/detail/hajchfikckiofgilinkpifobdbiajfch")

	body
		#container
			#header-container
				#header
					#title-and-tagline
						#title
							a(href="/")
								h1= siteName
					#tagline Don't miss the next episode. Get notified instantly.
					
					nav#navigation
						a.ajax(href="/")
							.navigation-button About
		
			#content-container
				#content!= content
			
			#footer-container
				footer#footer
					#copyright &copy; 2015 Eduard Urbach
		
		script!= js