doctype html
html
	head
		title Anime Notifier
		meta(name='description', content='Anime Release Notifier will notify you when a new episode of your favourite anime has been released.')
		meta(name='keywords', content='anime,notifier,notify')
		style!= css
		link(rel='chrome-webstore-item', href='https://chrome.google.com/webstore/detail/hajchfikckiofgilinkpifobdbiajfch')
		link(rel='manifest', href='/manifest.json')

	body
		if user && user.role !== 'admin' && user.location && user.location.countryName && user.location.countryName.toLowerCase() === 'japan'
			.region-block
				p
					img(src='/images/elements/gomennasai.png', alt='Anime Notifier is not available in Japan yet.')
				p アニメNotifierはまだ日本では利用できません。申し訳ございません。
				p Anime Notifier is not available in Japan yet. I apologize for the inconvenience.
		else
			#container
				#header-container
					#header(style=user ? 'background-image: none' : '')
						if !user
							#title
								a(href='/')
									h1= siteName
							#slogan Don't miss the next episode. Get notified instantly.
						
						nav#navigation
							each link in nav
								- var external = link.url.startsWith('http')
								- var className = 'navigation-link' + ((external || link.ajax === false) ? '' : ' ajax')
								- if(link.float === 'right') className += ' navigation-link-right';
								- var style = `float: ${link.float ? link.float : 'left'}`
								- var target = external ? '_blank' : undefined
								a(href=external ? link.url : '/#{link.url}', class=className, target=target, style=style)
									.navigation-button
										if link.icon
											span(class='glyphicon glyphicon-' + link.icon, style=link.title ? '' : 'margin: 0', title=link.tooltip)
										if link.title
											span.navigation-text= link.title
			
				#content-container
					#content.fade!= content
				
				#footer-container
					footer#footer
						#copyright &copy; 2015 Eduard Urbach
			
				#loading-animation
			
			script!= js