doctype html
html
	head
		title= siteName
		style!= css
		link(rel='chrome-webstore-item', href='https://chrome.google.com/webstore/detail/hajchfikckiofgilinkpifobdbiajfch')

	body
		#container
			#header-container
				#header(style=user ? 'background-image: none' : '')
					if !user
						#title
							a(href='/')
								h1= siteName
						//#slogan Don't miss the next episode. Get notified instantly.
						#slogan(style='color:rgb(255, 80, 80)') This project is currently under heavy development.
					
					nav#navigation
						each link in nav
							a(href='/#{link.url}', class='navigation-link' + (link.ajax === false ? '' : ' ajax'), style=`float: ${link.float ? link.float : 'left'}`)
								.navigation-button
									if link.icon
										span(class='glyphicon glyphicon-' + link.icon, style=link.title ? '' : 'margin: 0')
									if link.title
										span.navigation-text= link.title
		
			#content-container
				#content.fade!= content
			
			#footer-container
				footer#footer
					#copyright &copy; 2015 Eduard Urbach
		
			#loading-animation
			
		script!= js