doctype html
html(lang='en')
	head
		title= app.config.title
		
		link(rel='chrome-webstore-item', href='https://chrome.google.com/webstore/detail/hajchfikckiofgilinkpifobdbiajfch')
		
		//- Generic
		meta(name='description', content=app.package.description)
		meta(name='keywords', content=app.package.keywords.join(','))
		
		//- Open Graph
		meta(property='og:url', content=app.package.homepage)
		meta(property='og:type', content='website')
		meta(property='og:title', content=app.config.title)
		meta(property='og:description', content=app.package.description)
		meta(property='og:image', content='/images/characters/arn-waifu.png')

	body
		if user && user.role !== 'admin' && user.location && user.location.countryName && user.location.countryName.toLowerCase() === 'japan'
			.region-block
				p
					img(src='/images/elements/gomennasai.png', alt='Anime Notifier is not available in Japan yet.')
				p アニメNotifierはまだ日本では利用できません。申し訳ございません。
				p Anime Notifier is not available in Japan yet. I apologize for the inconvenience.
		else if maintenance && !(user && user.role === 'admin')
			.maintenance
				span Sorry, currently under maintenance!
				br
				img(src='/images/elements/gomennasai.png', alt='Anime Notifier is not available in Japan yet.')
		else
			#container
				//-#emergency -
				#header-container
					#header(style=user ? 'background-image: none' : '')
						if !user
							#title
								a(href='/')
									h1= app.package.name
							#slogan Don't miss the next episode. Get notified instantly.
						
						nav#navigation
							each link in nav
								- var external = link.url.startsWith('http')
								- var className = 'navigation-link' + ((external || link.ajax === false) ? '' : ' ajax')
								- if(link.float === 'right') className += ' navigation-link-right';
								- var style = `float: ${link.float ? link.float : 'left'}`
								- var target = external ? '_blank' : undefined
								a(href=external ? link.url : '/#{link.url}', class=className, target=target, style=style)
									.navigation-button
										if link.icon
											i(class='fa fa-' + link.icon, style=link.title ? '' : 'margin: 0', title=link.tooltip)
										if link.title
											span.navigation-text= link.title
			
				#content-container
					main#content.fade!= content
				
				#loading-animation.sk-cube-grid.fade
					.sk-cube.sk-cube1
					.sk-cube.sk-cube2
					.sk-cube.sk-cube3
					.sk-cube.sk-cube4
					.sk-cube.sk-cube5
					.sk-cube.sk-cube6
					.sk-cube.sk-cube7
					.sk-cube.sk-cube8
					.sk-cube.sk-cube9