section
	header
		h2 Statistics
	
	section
		header
			h3 General
			
		table
			tbody
				tr
					td.statistics-label Users
					td.statistics-value= users.total
				
				tr
					td.statistics-label Anime
					td.statistics-value 0
	
	if users.total !== 0
		section
			header
				h3 List providers
				
			table
				tbody
					each count, index in providers.list
						if index
							tr
								td.statistics-label= index
								td.statistics-value= Math.round(count / users.total * 100) + ' %'
		
		section
			header
				h3 Anime providers
				
			table
				tbody
					each count, index in providers.anime
						if index
							tr
								td.statistics-label= index
								td.statistics-value= Math.round(count / users.total * 100) + ' %'
							
		section
			header
				h3 Airing date providers
				
			table
				tbody
					each count, index in providers.airingDate
						if index
							tr
								td.statistics-label= index
								td.statistics-value= Math.round(count / users.total * 100) + ' %'
							
		section
			header
				h3 Gender
				
			table
				tbody
					tr
						td.statistics-label Male
						td.statistics-value= Math.round(users.gender.male / users.total * 100) + ' %'
					
					tr
						td.statistics-label Female
						td.statistics-value= Math.round(users.gender.female / users.total * 100) + ' %'
					
					tr
						td.statistics-label Not specified
						td.statistics-value= Math.round(users.gender.unknown / users.total * 100) + ' %'