mixin profileImage()
	img.image(src=viewUser.gravatarURL, alt='Profile image', width=320, height=320)

mixin text(field)
	.field
		- var value = getProperty(viewUser, field.id)
		label(for=field.id)= field.label
		if canEdit
			if field.options
				select.save-on-change(id=field.id)
					each optionValue, key in field.options
						if value === optionValue
							option(value=optionValue, selected)= key
						else
							option(value=optionValue)= key
			else
				input.save-on-change(id=field.id, type=field.type ? field.type : 'text', value=getProperty(viewUser, field.id), placeholder=field.description)
		else
			p.value(id=field.id)= value ? value : '-'

if !viewUser
	section
		header
			h2 Error
		
		p User not found.
else
	section
		.image-container
			if user && user.id === viewUser.id
				a(href='https://gravatar.com/emails/', target='_blank', rel='nofollow', title='Change your gravatar picture for ' + user.email)
					+profileImage()
			else
				+profileImage()
		
		.intro-container
			h2.nick= viewUser.nick
			
			if viewUser.tagline
				p.tagline
					span.glyphicon.glyphicon-comment
					em= viewUser.tagline
			else
				p.tagline
					span.glyphicon.glyphicon-comment
					em No tagline yet.
					
			if viewUser.location && viewUser.location.countryName != '-'
				p.location
					span.glyphicon.glyphicon-map-marker
					//- if viewUser.location.cityName != '-'
					//- 	span= viewUser.location.cityName + ', ' + viewUser.location.countryName
					//- else
					span= viewUser.location.countryName
				
			if viewUser.website
				p.website
					span.glyphicon.glyphicon-home
					a(href=viewUser.website.startsWith('http') ? viewUser.website : 'http://' + viewUser.website, target='_blank', rel='nofollow')= viewUser.website
			
			if viewUser.role
				p.role
					span.glyphicon.glyphicon-education
					span= roles[viewUser.role]
			
			//-each provider in ['AniList', 'AnimePlanet', 'HummingBird', 'MyAnimeList']
				if viewUser.listProviders[provider] && viewUser.listProviders[provider].userName
					p(class='website list-provider-username' + (viewUser.providers.list === provider ? ' main' : ' alternative'))
						span= provider + ' (' + viewUser.listProviders[provider].userName + ')'
		
		.fields
			each category, title in fields
				if canEdit
					h3= title
					each field in category
						+text(field)
		
		h3= viewUser.nick + ' is watching...'
		#animeList.anime-list-container