if !viewUser
	section
		header
			h2 Error
		
		p User not found.
else
	section
		.image-container
			img.image(src=viewUser.gravatarURL, alt='Profile image', width=320, height=320)
		
		.intro-container
			h2.nick= viewUser.nick
			
			if viewUser.tagline
				p.tagline= viewUser.tagline
			else
				p.tagline
					em No tagline yet.
		
		mixin text(field)
			.field
				label(for=field.id)= field.label
				input.save-on-change(id=field.id, type='text', value=getProperty(viewUser, field.id), placeholder=field.placeholder)
		
		.fields
			each category, title in fields
				h3= title
				each field in category
					+text(field)