mixin profileImage()
	img.profile-image(src=viewUser.gravatarURL, alt='Profile image')

if !viewUser
	section
		header
			h2 Error
		
		p User not found.
else
	section
		.image-container
			if user && user.id === viewUser.id
				a(href='https://gravatar.com/emails/', target='_blank', rel='nofollow', title='Change your gravatar picture for ' + user.email)
					+profileImage()
			else
				+profileImage()
		
		.intro-container
			h2.nick= viewUser.nick
			
			if viewUser.tagline
				p.profile-field.tagline
					span.glyphicon.glyphicon-comment
					em= viewUser.tagline
			else
				p.profile-field.tagline
					span.glyphicon.glyphicon-comment
					em No tagline yet.
					
			//-if user && viewUser.location && viewUser.location.countryName != '-'
				p.profile-field.location
					span.glyphicon.glyphicon-map-marker
					//- if viewUser.location.cityName != '-'
					//- 	span= viewUser.location.cityName + ', ' + viewUser.location.countryName
					//- else
					span= viewUser.location.countryName
			
			if viewUser.website
				p.profile-field.website
					span.glyphicon.glyphicon-home
					a(href=viewUser.website.startsWith('http') ? viewUser.website : 'http://' + viewUser.website, target='_blank', rel='nofollow')= viewUser.website.replace('http://', '').replace('https://', '')
			
			if viewUser.role
				p.profile-field.role
					span.glyphicon.glyphicon-education
					span= roles[viewUser.role]
			else if donators[viewUser.id]
				p.profile-field.role
					span.glyphicon.glyphicon-heart
					span Supporter
			else
				p.profile-field.role
					span.glyphicon.glyphicon-star
					span Alpha Tester
			
			//-each provider in ['AniList', 'AnimePlanet', 'HummingBird', 'MyAnimeList']
				if viewUser.listProviders[provider] && viewUser.listProviders[provider].userName
					p(class='website list-provider-username' + (viewUser.providers.list === provider ? ' main' : ' alternative'))
						span= provider + ' (' + viewUser.listProviders[provider].userName + ')'
		
		h3= viewUser.nick + ' is watching:'
		
		if user
			#animeList.anime-list-container(data-logged='true')
		else
			#animeList.anime-list-container(data-logged='false')