mixin text(field)
	.field
		- var value = getProperty(viewUser, field.id)
		label(for=field.id)= field.label
		if canEdit
			if field.options
				select.save-on-change(id=field.id)
					each optionValue, key in field.options
						if value === optionValue
							option(value=optionValue, selected)= key
						else
							option(value=optionValue)= key
			else
				input.save-on-change(id=field.id, type=field.type ? field.type : 'text', value=getProperty(viewUser, field.id), placeholder=field.description, title=field.description)
		else
			p.value(id=field.id)= value ? value : '-'

if user
	.categories
		each category, title in fields
			.category
				h3= title
				each field in category
					//- if !(field.id === 'email' && user.email)
					+text(field)
		
		.category
			h3 Notifier
			.field
				button.push-button(disabled) Enable Notifications
				button.test-notification(disabled, onclick='sendTestNotification();') Send test notification