if user
	section
		header
			h2= user.welcomeLine

	h3 Todo

	.cards
		.card(class=user.hasNick ? 'finished' : 'not-finished') Change your username
		if !user.email
			.card.not-finished Add your email address (one time change)
		.card(class=user.hasListProviderUserName ? 'finished' : 'not-finished') Set up your list provider username
		if user.email
			#gravatar-card.card.finished Add a gravatar image
		.card(class=Object.keys(user.pushEndpoints).length > 0 ? 'finished' : 'not-finished') Activate push notifications
	
	if user.email
		img#gravatar-test-image(onerror='if($.gravatarAvailable) $.gravatarAvailable(false);', onload='if($.gravatarAvailable) $.gravatarAvailable(true);', src=user.gravatarURL)

	h3 Apps

	.cards
		if user.agent && user.agent.family
			if user.agent.family === 'Chrome'
				.card
					a(href='javascript:chrome.webstore.install();', title='If you want a button to quickly access your list (it\'s not required for notifications)')
						i.fa.fa-chrome
						span Chrome extension
			else if user.agent.family === 'Firefox'
				.card
					a(href='https://addons.mozilla.org/en-US/firefox/addon/anime-notifier/', target='_blank')
						i.fa.fa-firefox
						span Firefox extension

			.card
				a(href='https://www.youtube.com/watch?v=opyt4cw0ep8', target='_blank')
					i.fa.fa-android
					span Android web app

	h3 Community
	.cards
		.card
			a(href='https://discord.gg/0kimAmMCeXGXuzNF', target='_blank')
				i.fa.fa-microphone
				span Discord
		.card
			
			a(href='https://www.facebook.com/animenotifier', target='_blank')
				i.fa.fa-facebook
				span Facebook
		.card
			a(href='https://twitter.com/animenotifier', target='_blank')
				i.fa.fa-twitter
				span Twitter
		.card
			
			a(href='https://plus.google.com/+AnimeReleaseNotifierOfficial', target='_blank')
				i.fa.fa-google-plus
				span Google+
		.card
			
			a(href='https://github.com/animenotifier/notify.moe', target='_blank')
				i.fa.fa-github
				span GitHub

	h3 Threads
	.cards
		.card
			a(href='https://anilist.co/forum/thread/64', target='_blank') anilist.co
		.card
			a(href='https://forums.hummingbird.me/t/16787', target='_blank') hummingbird.me
		.card
			a(href='http://myanimelist.net/forum/?topicid=1175519', target='_blank') myanimelist.net
else
	section.category
		header
			h2 Pick a platform!

		//- Chrome
		a.box.scale(href='javascript:chrome.webstore.install();', title='Chrome', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Chrome Extension
			img(itemprop='image', src='/images/platforms/chrome.png', alt='Chrome')

		//- Firefox
		a.box.scale(href='https://addons.mozilla.org/en-US/firefox/addon/anime-notifier/', target='_blank', title='Firefox', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Firefox Extension
			img(itemprop='image', src='/images/platforms/firefox.png', alt='Firefox')

		//- Android
		a.box.scale(href='https://www.youtube.com/watch?v=opyt4cw0ep8', target='_blank', title='Android', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Android App
			img(itemprop='image', src='/images/platforms/android.png', alt='Android')

	section.category
		header
			h2 Try it!

		.box
			a(href='/auth/google')
				img.login-button(src='/images/elements/google-login.png', alt='Google Login')

		.box
			a(href='/auth/facebook')
				img.login-button(src='/images/elements/facebook-login.png', alt='Facebook Login')
					
		.box
			a(href='/auth/twitter')
				img.login-button(src='/images/elements/twitter-login.png', alt='Twitter Login')

	//- section.category
	//- 	header
	//- 		h2 Follow the project!
	//-
	//- 	.box
	//- 		a(href='https://github.com/animenotifier/notify.moe', target='_blank')
	//- 			img(src='/images/elements/github.png', alt='GitHub')
	//-
	//- section.category
	//- 	header
	//- 		h2(style='display: none') Forums
	//- 	.box
	//- 		p
	//- 			a(href='https://www.facebook.com/animenotifier', target='_blank') Facebook
	//- 		p
	//- 			a(href='https://twitter.com/animenotifier', target='_blank') Twitter
	//- 		p
	//- 			a(href='https://plus.google.com/+AnimeReleaseNotifierOfficial', target='_blank') Google+
	//-
	//- 	.box
	//- 		p
	//- 			a(href='https://anilist.co/forum/thread/64', target='_blank') anilist.co
	//- 		p
	//- 			a(href='https://forums.hummingbird.me/t/16787', target='_blank') hummingbird.me
	//- 		p
	//- 			a(href='http://myanimelist.net/forum/?topicid=1175519', target='_blank') myanimelist.net

//- section.category
//- 	header
//- 		h2 How it works
//-
//- 	.box
//- 		h3 Get your watching list:
//- 		ul
//- 			li
//- 				a(href='http://anilist.co', target='_blank') anilist.co
//-
//- 			li
//- 				a(href='http://anime-planet.com', target='_blank') anime-planet.com
//-
//- 			li
//- 				a(href='http://hummingbird.me', target='_blank') hummingbird.me
//-
//- 			li
//- 				a(href='http://myanimelist.net', target='_blank') myanimelist.net
//-
//- 	.box
//- 		h3 Connect it with:
//- 		ul
//- 			li(style='text-decoration: none')
//- 				a(href='http://nyaa.se', target='_blank', rel='nofollow') nyaa.se
//-
//- 			//- li(style='text-decoration: line-through')
//- 			//- 	a(href='http://animeshow.tv', target='_blank', rel='nofollow') animeshow.tv
//- 			//-
//- 			//- li(style='text-decoration: line-through')
//- 				//- 	a(href='http://kissanime.com', target='_blank', rel='nofollow') kissanime.com
//- 				//-
//- 				//- li(style='text-decoration: line-through')
//- 				//- 	a(href='http://rawranime.tv', target='_blank', rel='nofollow') rawranime.tv