if user
	section
		header
			h2= user.welcomeLine
	
		if !user.isActive
			h3 Todo
			
			.cards
				.card(class=user.hasNick ? 'finished' : 'not-finished') Change your username
				if !user.email
					.card.not-finished Add your email address (one time change)
				.card(class=user.hasListProviderUserName ? 'finished' : 'not-finished') Set up your list provider username
				if user.email
					#gravatar-card.card.finished Add a gravatar image
				.card(class=Object.keys(user.pushEndpoints).length > 0 ? 'finished' : 'not-finished') Activate push notifications
			
			if user.email
				img#gravatar-test-image(onerror='if($.gravatarAvailable) $.gravatarAvailable(false);', onload='if($.gravatarAvailable) $.gravatarAvailable(true);', src=user.gravatarURL)

		h3 Apps

		.cards
			if user.agent && user.agent.family
				if user.agent.family === 'Chrome'
					a.card(href='javascript:chrome.webstore.install();', title='If you want a button to quickly access your list (it\'s not required for notifications)')
						i.fa.fa-chrome
						span Chrome extension
				else if user.agent.family === 'Firefox'
					a.card(href='https://addons.mozilla.org/en-US/firefox/addon/anime-notifier/', target='_blank')
						i.fa.fa-firefox
						span Firefox extension

				a.card(href='https://www.youtube.com/watch?v=opyt4cw0ep8', target='_blank')
					i.fa.fa-android
					span Android web app

		h3 Community
		.cards
			a.card(href='https://discord.gg/0kimAmMCeXGXuzNF', target='_blank')
				i.fa.fa-microphone
				span Discord
	
			
			a.card(href='https://www.facebook.com/animenotifier', target='_blank')
				i.fa.fa-facebook
				span Facebook
		
			a.card(href='https://twitter.com/animenotifier', target='_blank')
				i.fa.fa-twitter
				span Twitter
	
			
			a.card(href='https://plus.google.com/+AnimeReleaseNotifierOfficial', target='_blank')
				i.fa.fa-google-plus
				span Google+
		
			
			a.card(href='https://github.com/animenotifier/notify.moe', target='_blank')
				i.fa.fa-github
				span GitHub

		h3 Threads
		
		.cards
			a.card(href='https://anilist.co/forum/thread/64', target='_blank') anilist.co
			a.card(href='https://forums.hummingbird.me/t/16787', target='_blank') hummingbird.me
			a.card(href='http://myanimelist.net/forum/?topicid=1175519', target='_blank') myanimelist.net
else
	section.category
		header
			h2 Pick a platform!

		//- Chrome
		a.box.scale(href='javascript:chrome.webstore.install();', title='Chrome', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Chrome Extension
			img(itemprop='image', src='/images/platforms/chrome.png', alt='Chrome')

		//- Firefox
		a.box.scale(href='https://addons.mozilla.org/en-US/firefox/addon/anime-notifier/', target='_blank', title='Firefox', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Firefox Extension
			img(itemprop='image', src='/images/platforms/firefox.png', alt='Firefox')

		//- Android
		a.box.scale(href='https://www.youtube.com/watch?v=opyt4cw0ep8', target='_blank', title='Android', itemscope='', itemtype='http://schema.org/Product')
			span(itemprop='name') Anime Release Notifier - Android App
			img(itemprop='image', src='/images/platforms/android.png', alt='Android')

	section.category
		header
			h2 Try it!

		.box
			a(href='/auth/google')
				img.login-button(src='/images/elements/google-login.png', alt='Google Login')

		.box
			a(href='/auth/facebook')
				img.login-button(src='/images/elements/facebook-login.png', alt='Facebook Login')
					
		.box
			a(href='/auth/twitter')
				img.login-button(src='/images/elements/twitter-login.png', alt='Twitter Login')